@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
/* Estilos de Nav */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    /* matamos margenes y espaios dados por el navegador */
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Dancing Script', cursive;
    background: url(../img/pexels-photo-1939485.jpeg);
}
nav p{ /*Se le da un selector*/
    font-family: 'Pirata One', cursive;
    font-size: 4em;
    letter-spacing: 5px;  /*Esto le da espacio a las letras*/
    color: #000000;
    text-align: center;
    text-shadow: 5px -5px 2px #bcbdac; /* Esto es para darle un Sombreado 1.(-)izq-(+)der 2.ariba-abajo 3.intensidad */
}
/* Estilos para Li*/
li{
    background:linear-gradient(#ff8830, #bcbdac); /*Esto es para darle un color de fondo combinado de dos colores */
    color: #000000;
    list-style: none; /* Esto le da estilos a los puntitos de las listas, con el None se le quitan los puntos */
    width: 200px; /* Esto le da espacios a las listas */
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 20px;
    text-align: center;
    border: solid 3px #000000  ; /* le da un bordea las list tipo, grosor, color*/
    border-radius: 30px; /* Le quita las puntas al borde */ /*#ff8830 color naranja*/
    font-size: 1.5em;

}
li:hover{ /* Hover es para cuando se pasa el mouse sobre el escrito se aplica un estilo */
    opacity: .5; /* hace opaco al pasar el mouse */
    /* Hace que las opciones cambien de tamaño si se les pasa el mouse: width: 2em;  */

}
nav{
    display: flex; /*Acomoda de un lado a otro*/
    justify-content: center;
    justify-content: space-between; /**/
    /* justify-content: space-around */
    align-items: center;
}
.menu{
    display: flex;
    height: 10px; /* hace mas chico o grande */
    margin-right: 100px;
    align-items: center;
}
/* Termina Nav */
/* Establecemos el 100% de alto y ancho de la pantalla */
header{
    width: 100%;
    height: 70vh;
    background: url(../img/pexels-photo-1939485.jpeg); /* Para poner una imagen */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.caja{
    /*background-color: aqua;*/ 
    display: flex;
    height: 50vh;
}
.cajita{
    height: 50vh;
    width: 50%;
    /*background-color: yellowgreen;*/ 
    display: flex;
    justify-content: center; /* alineado al centro */
    align-items: center; /* alineado columna */
    flex-direction: column; /* como lo acomoda en columna */
}
header img{
    width: 30%;
    border-radius: 50px;
}
h1{
    width: 50%;
    font-size: 4em;
}
span{
    color: #ff8830;
}
.cajita p{
    width: 50%;
    font-size: 2em;
}
nav img{
    display: none;
}
/* Se inicia el diseño de Navegador */
.contenedor{
    width: 90%;
    margin: auto;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto{
    height: 25vh;
    /* background-color: #00000068; */
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.texto h2{
    color: #ff8830;
    font-size: 3em;
}
.texto p{
    color: black;
    width: 80%;
    font-size: 30px;
}
.recorrido{
    width:100%;
    height:50vh;
    background: url(../img/iconos-22.png); /* Para poner una imagen */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    /* absolute: se posiciona en la posicion indicada y su espacio ocupado se desaparece
    fixed: se queda pegado
    relative: se quita la posicion de un elemento pero queda ocupado el espacio del elemento */
}
.Cajas{
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Modulo{
    width: 20%; /*%=Anchura*/
    height: 35vh; /*Vh=Altura*/
    /* background-color: #ff8830; */
}
.Modulo img{
    border-radius: 10%;
    width: 100%;
    height: 20vh;
}
.Modulo h3{
    width: 50%;
    font-size: 2em;
}
.Modulo p{
    font-size: 2em;
}
.Modulo a{
    font-size: 2em;
}
/* inician los iconos de contacto */
.whats{
    width: 100px;
    position: fixed;
    bottom: 5px;
    right: 5px;
}



/* ¡¡diseño responsivo!!...450px es para celulares */
@media(max-width:450px){
    .menu{
        display: none; /* Para dejar de visualizar los elementos de lista */
    }
    nav img{
        display: block; /* El display Block es para que se muestre en la pag y el None es para ocultar */
    }
    header {
        height: 100vp;
    }
    .caja{
        height: 80vp;
        flex-direction: column;
    }
    .cajita{
        height: 40vp;
        width: 100%;
    }
    h1{
        width: 80%;
    }
    p{
        width: 80%;
    }
}
